<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Servlet Login-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.cfscr.solicitudes.controllers.Login</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet SolicitudesUsuario-->
    <servlet>
        <servlet-name>SolicitudesUsuario</servlet-name>
        <servlet-class>com.cfscr.solicitudes.controllers.SolicitudesUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SolicitudesUsuario</servlet-name>
        <url-pattern>/SolicitudesUsuario</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet AgergarSolicitud-->
    <servlet>
        <servlet-name>AgregarSolicitud</servlet-name>
        <servlet-class>com.cfscr.solicitudes.controllers.AgregarSolicitud</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarSolicitud</servlet-name>
        <url-pattern>/AgregarSolicitud</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet VerSolicitud-->
    <servlet>
        <servlet-name>VerSolicitud</servlet-name>
        <servlet-class>com.cfscr.solicitudes.controllers.VerSolicitud</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerSolicitud</servlet-name>
        <url-pattern>/VerSolicitud</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet AgregarMensaje-->
    <servlet>
        <servlet-name>AgregarMensaje</servlet-name>
        <servlet-class>com.cfscr.solicitudes.controllers.AgregarMensaje</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarMensaje</servlet-name>
        <url-pattern>/AgregarMensaje</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet CerrarSolicitud -->
    <servlet>
        <servlet-name>CerrarSolicitud</servlet-name>
        <servlet-class>com.cfscr.solicitudes.controllers.CerrarSolicitud</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CerrarSolicitud</servlet-name>
        <url-pattern>/CerrarSolicitud</url-pattern>
    </servlet-mapping>
        
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
