/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 may. 2023, 09:40:44
    Author     : pablo.elizondo
*/

@font-face{
    font-family: MontI;
    src: url("../Sources/Fonts/Montserrat-Italic-VariableFont_wght.ttf");    
}
@font-face{
    font-family: Mont;
    src: url("../Sources/Fonts/Montserrat-VariableFont_wght.ttf");
}


/**Estilos del Body Login*********************************************/
.body{
    display: block;
    position: static;
    
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: auto;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
    
    background-image: url("../Sources/Images/eolicas.jpg");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-attachment: fixed;
}

#Main-Section-Login{
    display: block;
    position: static;
    
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: 100%;
    min-width: 1px;
    max-width: none;
    
    height: 100%;
    min-height: 1px;
    max-height: none;
}

.container{
    display: flex;
    position: static;
    
    align-items: center;
    align-content: center;
    justify-content: center;
    
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: auto;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
    
    text-align: center;
}

.div-AjustadosA-contenido{
    display: flex;
    position: static;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    
    align-items: center;
    align-content: center;
    justify-content: center;
    
    margin: 1% 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: 40%;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
    
    background-color: RGB(110, 110, 110, 0.7);
    
    border-radius: 25px;
}

.divs-login{
    display: block;
    position: static;
    
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: 80%;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
}

.logoCFS{
    display: block;
    position: static;
    
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: 100%;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
}

.h1-inicio{
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: auto;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
    
    font-weight: 900;
    font-size: 250%;
    line-height: 100%;
    color: #ffffff;
}

.formulario-Login{
    display: flex;
    position: static;
    
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    
    align-items: center;
    align-content: center;
    justify-content: center;
    
    width: auto;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
}

.label{
    display: block;
    position: static;
    
    margin: 2% 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: auto;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
    
    font-weight: 700;
    font-size: 200%;
    line-height: 100%;
    color: #ffffff;
    text-align: center;
}

.form-control{
    display: block;
    margin: 1% 0px 0px 0px;
    padding: 1% 2% 1% 2%;
    
    width: 85%;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
    
    font-weight: 600;
    font-size: 150%;
    line-height: 100%;
    color: #000000;
    text-align: left;
}

.boton-submit{
    display: block;
    position: static;
    
    margin: 3% 0px 3% 0px;
    padding: 2% 2% 2% 2%;
    
    width: 45%;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
    
    font-weight: 900;
    font-size: 150%;
    line-height: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #84BD00;
    
    border-radius: 10px;
}

/**Estilos del Footer-Section-Login*****************************************/
#Footer-Section-Login{
    display: flex;
    position: static;
    
    -webkit-box-orient: vertical;
    align-content: center;
    justify-content: center;
    
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: 100%;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
}

.h1-Footer{
    display: block;
    position: static;
    
    margin: 4% 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
    width: auto;
    min-width: 1px;
    max-width: none;
    
    height: auto;
    min-height: 1px;
    max-height: none;
    
    font-family: MontI;
    font-weight: 900;
    font-size: 175%;
    line-height: 100%;
    color: #ffffff;
    text-align: center;
}